ion-header ion-title.ios{
    padding-left: 85px;
}
.or-line {
    position: relative;
    width: 100%;
    margin: 0px 0px 25px 0px;
}
.or-line span {
    width: 50px;
    height: 50px;
    background: #055e22;
    display: inline-block;
    line-height: 50px;
    border-radius: 50%;
    z-index: 2;
    position: relative;
}
.or-line:before {
    position: absolute;
    content: "";
    top: 25px;
    left: 0px;
    right: 0px;
    background: #055f22;
    height: 2px;
    width: 100%;
    z-index: 1;
}
ion-button{
    margin-bottom: 25px;
}
.btn-forgot{
    text-decoration: underline;
    color:#ffce00;
}
:host-context(html[dir="rtl"]) .or-line{
    font-size:20px;
}
:host-context(html[dir="rtl"]) ion-header ion-title.ios {
    padding-right: 85px;
    padding-left: 0px;
}
:host-context(html[dir="rtl"]) .btn-forgot{
    font-size: 20px;
}