<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-no-padding">{{'hf.forgotPass' | translate | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="secondary">
  <form [formGroup]="forGotPassForm" class="list-form">
    <ion-list class="input-fields ion-no-padding ion-no-margin">
      <ion-title class="homelogo innerpage-logo ion-text-center ion-no-padding"><img src="./assets/imgs/logo.png" alt="">
      </ion-title>
      <h1 class="heading-text ion-text-center">{{'hf.forgotPass' | translate}}</h1>

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="username" [placeholder]="'profile.uName' | translate"
            [(ngModel)]="userData.userName"></ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.username">
          <ion-note color="danger" class="error" translate
            *ngIf="forGotPassForm.get('username').hasError(validation.type) && (forGotPassForm.get('username').dirty || forGotPassForm.get('username').touched || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>
      <ion-button class="ion-no-margin" block color="success" (click)="forgotPassword()">{{'profile.submit' | translate}}</ion-button>
    </ion-list>
  </form>
  <h6 class="or-line ion-text-center"><span>{{'others.or' | translate}}</span></h6>
  <button class="ion-text-center ion-no-padding btn-forgot" ion-button [routerLink]="['/login']">
    {{'hf.login' | translate}}</button>
</ion-content>