.profile-wrap ion-button{
    margin-top: 15px;
}
.input-fields{
    padding: 30px 16px 30px 16px;
}
.input-fields li span{
    font-weight: 400;
}
:host-context(html[dir="rtl"]) ion-button{
    font-size: 17px;
    height: 40px;
}
:host-context(html[dir="rtl"]) .input-fields li span{
    font-weight: 600;
}