<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">{{'hf.home' | translate | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" class="profile-cont">
  <div class="profile-wrap">
    <div class="profile-thumb" class="ion-text-center">
      <ion-avatar>
        <ion-img [src]="profilePic" (ionError)="myImage()"></ion-img>
      </ion-avatar>
      <ion-button class="ion-no-margin" block color="success" (click)=previewProfile()>{{'profile.editProfile' | translate}}</ion-button>
    </div>
  </div>
  <ion-list class="input-fields ion-no-margin" *ngIf="userData">
    <ul class="ion-no-padding">
      <li class="ion-margin-bottom"><span>{{'profile.uName' | translate}}</span> : {{userData.userName | titlecase}}</li>
      <li class="ion-margin-bottom"><span>{{'profile.name' | translate}}</span> : {{userData.name  | titlecase}}</li>
      <li class="ion-margin-bottom"><span>{{'profile.email' | translate}}</span> : {{userData.email}}</li>
      <li class="ion-margin-bottom"><span>{{'profile.phoneNo' | translate}}</span> : {{userData.mobile}}</li>
      <li class="ion-margin-bottom"><span>{{'profile.city' | translate}}</span> : {{userData.city  | titlecase}}</li>
      <li class="ion-margin-bottom"><span>{{'profile.state' | translate}}</span> : {{userData.state  | titlecase}}</li>
      <li class="ion-margin-bottom"><span>{{'profile.country' | translate}}</span> : {{userData.country  | titlecase}}</li>
      <li class="ion-margin-bottom"><span>{{'profile.zipCode' | translate}}</span> : {{userData.zipCode}}</li>
    </ul>
   
  </ion-list> 
</ion-content>