<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/forgot"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">{{'others.createPass' | translate | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="secondary">
  <form [formGroup]="resetPassForm">
    <ion-list class="input-fields ion-no-padding ion-no-margin">
      <ion-title class="homelogo innerpage-logo ion-text-center ion-no-padding" class=""><img
          src="./assets/imgs/logo.png" alt="">
      </ion-title>
      <h1 class="heading-text ion-text-center">{{'lang.circleCash' | translate | uppercase}}</h1>

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="otp" [placeholder]="'others.otp' | translate"
            [(ngModel)]="newData.activationCode">
          </ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.otp">
          <ion-note translate color="danger" class="error"
            *ngIf="resetPassForm.get('otp').hasError(validation.type) && (resetPassForm.get('otp').dirty || resetPassForm.get('otp').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="password" type="password" [placeholder]="'profile.newPass' | translate"
            [(ngModel)]="newData.password"></ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.password">
          <ion-note translate color="danger" class="error"
            *ngIf="resetPassForm.get('password').hasError(validation.type) && (resetPassForm.get('password').dirty || resetPassForm.get('password').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="cpassword" type="password" [placeholder]="'profile.cPassword' | translate"
            [(ngModel)]="newData.cpassword"></ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.cpassword">
          <ion-note translate color="danger" class="error"
            *ngIf="resetPassForm.get('cpassword').hasError(validation.type) && (resetPassForm.get('cpassword').dirty || resetPassForm.get('cpassword').touched || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
        <ion-text>
          <ion-note color="danger" class="error"
            *ngIf="!resetPassForm.get('cpassword').errors && resetPassForm.hasError('passwordNotMatch') && (resetPassForm.get('cpassword').dirty || resetPassForm.get('cpassword').touched)">
            {{'vMsg.passNotMatch' | translate }}
          </ion-note>
        </ion-text>
      </div>

      <ion-button block color="success" (click)="setUserPassword()">{{'profile.submit' | translate}}</ion-button>
    </ion-list>
  </form>
</ion-content>