<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!-- <ion-back-button defaultHref="/tabs"></ion-back-button> -->
    </ion-buttons>
    <ion-title class="ion-no-padding">{{'others.thankYou' | translate | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="secondary">
  <ion-list class="input-fields ion-no-margin ion-no-padding">
    <ion-title class="homelogo innerpage-logo ion-text-center ion-no-padding"><img src="./assets/imgs/logo.png" alt="">
    </ion-title>
    <!-- <h2 class="ion-text-center">{{'others.thankYou' | translate}}</h2> -->
    <h4 class="ion-text-center">{{'others.thankText' | translate}}</h4>
    <ion-button class="ion-no-margin" (click)="payOther()" block color="success">{{'others.otherPay' | translate}}</ion-button>
  </ion-list>
</ion-content>