<!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'hf.language' | translate | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding" color="secondary">
  <ion-list class="input-fields payment-mode ion-no-padding">
    <ion-title class="homelogo innerpage-logo ion-text-center ion-no-padding"><img src="./assets/imgs/logo.png" alt="">
    </ion-title>
    <h1 class="heading-text ion-text-center">{{'lang.circleCash' | translate}}</h1>
    <h4 class="ion-text-center">{{'lang.hText' | translate}}</h4>

    <div class="form_field_blk">
      <ion-item>
        <ion-label>{{'lang.selectLang' | translate}}</ion-label>
        <ion-select [okText]="'lang.ok' | translate" [cancelText]="'lang.cancel' | translate"
          placeholder="{{'lang.selectLang' | translate}}" [(ngModel)]="language">
          <ion-select-option value="en">{{'lang.english' | translate}}</ion-select-option>
          <ion-select-option value="fr">{{'lang.french' | translate}}</ion-select-option>
          <ion-select-option value="ar">{{'lang.arabic' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>  
    <ion-button class="ion-no-margin" block color="success" (click)="changeLanguage()">{{'lang.submit' | translate}}</ion-button>
  </ion-list>
</ion-content> 