<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">{{'hf.profile' | translate | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" class="profile-cont">
  <div class="profile-wrap">
    <div class="profile-thumb" class="ion-text-center">
      <ion-avatar>
        <ion-img [src]="profilePic" (ionError)="myImage()"></ion-img>
        <img src="/assets/imgs/edit_Profile-icon.png" size="small" (click)="changeProfilePicture()" name="create">
      </ion-avatar>
     <div class="">
     
    </div>
    </div>
  </div>
  <ion-list class="input-fields ion-padding ion-no-margin">
    <form [formGroup]="editProfileForm">

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="uName" [placeholder]="'profile.uName' | translate" [value]="userData.userName"
            readonly>
          </ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.uName">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('uName').hasError(validation.type) && (editProfileForm.get('uName').dirty || editProfileForm.get('uName').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="name" [placeholder]="'profile.name' | translate" [(ngModel)]="userData.name">
          </ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.name">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('name').hasError(validation.type) && (editProfileForm.get('name').dirty || editProfileForm.get('name').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="email" [placeholder]="'profile.email' | translate" [(ngModel)]="userData.email">
          </ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.email">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('email').hasError(validation.type) && (editProfileForm.get('email').dirty || editProfileForm.get('email').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="mobile" [placeholder]="'profile.phoneNo' | translate"
            [(ngModel)]="userData.mobile"></ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.mobile">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('mobile').hasError(validation.type) && (editProfileForm.get('mobile').dirty || editProfileForm.get('mobile').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="address" [placeholder]="'profile.address' | translate"
            [(ngModel)]="userData.address"></ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.address">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('address').hasError(validation.type) && (editProfileForm.get('address').dirty || editProfileForm.get('address').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="country" [placeholder]="'profile.country' | translate"
            [(ngModel)]="userData.country"></ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.country">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('country').hasError(validation.type) && (editProfileForm.get('country').dirty || editProfileForm.get('country').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="state" [placeholder]="'profile.state' | translate" [(ngModel)]="userData.state">
          </ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.state">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('state').hasError(validation.type) && (editProfileForm.get('state').dirty || editProfileForm.get('state').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="city" [placeholder]="'profile.city' | translate" [(ngModel)]="userData.city">
          </ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.city">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('city').hasError(validation.type) && (editProfileForm.get('city').dirty || editProfileForm.get('city').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="zipCode" [placeholder]="'profile.zipCode' | translate" type="number"
            [(ngModel)]="userData.zipCode">
          </ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.zipCode">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('zipCode').hasError(validation.type) && (editProfileForm.get('zipCode').dirty || editProfileForm.get('zipCode').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <ion-button class="ion-no-margin" block color="success" (click)="updateUserProfile()">{{'profile.submit' | translate}}</ion-button>
    </form>
  </ion-list>
<!--   
  <div class="ion-padding">
    <ion-segment [(ngModel)]="userProfile">
      <ion-segment-button value="personalInfo">
        {{'profile.pInfo' | translate}}
      </ion-segment-button>
      <ion-segment-button value="changePassword">
        {{'profile.changePass' | translate}}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="userProfile">
    <ion-list class="input-fields ion-padding" *ngSwitchCase="'personalInfo'">
      <form [formGroup]="editProfileForm">
        <ion-item>
          <ion-input formControlName="uName" [placeholder]="'profile.uName' | translate" [value]="userData.userName"
            readonly></ion-input>
        </ion-item>

        <ion-text *ngFor="let validation of validation_messages.uName">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('uName').hasError(validation.type) && (editProfileForm.get('uName').dirty || editProfileForm.get('uName').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
        <ion-item>
          <ion-input formControlName="name" [placeholder]="'profile.name' | translate" [(ngModel)]="userData.name">
          </ion-input>
        </ion-item>

        <ion-text *ngFor="let validation of validation_messages.name">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('name').hasError(validation.type) && (editProfileForm.get('name').dirty || editProfileForm.get('name').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
        <ion-item>
          <ion-input formControlName="email" [placeholder]="'profile.email' | translate" [(ngModel)]="userData.email">
          </ion-input>
        </ion-item>

        <ion-text *ngFor="let validation of validation_messages.email">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('email').hasError(validation.type) && (editProfileForm.get('email').dirty || editProfileForm.get('email').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
        <ion-item>
          <ion-input formControlName="mobile" [placeholder]="'profile.phoneNo' | translate"
            [(ngModel)]="userData.mobile"></ion-input>
        </ion-item>

        <ion-text *ngFor="let validation of validation_messages.mobile">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('mobile').hasError(validation.type) && (editProfileForm.get('mobile').dirty || editProfileForm.get('mobile').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
        <ion-item>
          <ion-input formControlName="address" [placeholder]="'profile.address' | translate"
            [(ngModel)]="userData.address"></ion-input>
        </ion-item>

        <ion-text *ngFor="let validation of validation_messages.address">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('address').hasError(validation.type) && (editProfileForm.get('address').dirty || editProfileForm.get('address').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
        <ion-item>
          <ion-input formControlName="country" [placeholder]="'profile.country' | translate"
            [(ngModel)]="userData.country"></ion-input>
        </ion-item>

        <ion-text *ngFor="let validation of validation_messages.country">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('country').hasError(validation.type) && (editProfileForm.get('country').dirty || editProfileForm.get('country').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
        <ion-item>
          <ion-input formControlName="state" [placeholder]="'profile.state' | translate" [(ngModel)]="userData.state">
          </ion-input>
        </ion-item>

        <ion-text *ngFor="let validation of validation_messages.state">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('state').hasError(validation.type) && (editProfileForm.get('state').dirty || editProfileForm.get('state').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
        <ion-item>
          <ion-input formControlName="city" [placeholder]="'profile.city' | translate" [(ngModel)]="userData.city">
          </ion-input>
        </ion-item>

        <ion-text *ngFor="let validation of validation_messages.city">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('city').hasError(validation.type) && (editProfileForm.get('city').dirty || editProfileForm.get('city').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
        <ion-item>
          <ion-input formControlName="zipCode" [placeholder]="'profile.zipCode' | translate" type="number"
            [(ngModel)]="userData.zipCode">
          </ion-input>
        </ion-item>

        <ion-text *ngFor="let validation of validation_messages.zipCode">
          <ion-note translate color="danger" class="error"
            *ngIf="editProfileForm.get('zipCode').hasError(validation.type) && (editProfileForm.get('zipCode').dirty || editProfileForm.get('zipCode').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
        <ion-button block color="success" (click)="updateUserProfile()">{{'profile.submit' | translate}}</ion-button>
      </form>
    </ion-list>

    <ion-list class="input-fields ion-padding" *ngSwitchCase="'changePassword'">
      <form [formGroup]="changePassForm">
        <ion-item>
          <ion-input formControlName="oldPass" [placeholder]="'profile.oldPass' | translate"
            [(ngModel)]="userPasswordData.oldPassword" type="password"></ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.oldPass">
          <ion-note translate color="danger" class="error"
            *ngIf="changePassForm.get('oldPass').hasError(validation.type) && (changePassForm.get('oldPass').dirty || changePassForm.get('oldPass').touched  || isSubmited2)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
        <ion-item>
          <ion-input formControlName="newPass" [placeholder]="'profile.newPass' | translate" type="password"
            [(ngModel)]="userPasswordData.newPassword"></ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.newPass">
          <ion-note translate color="danger" class="error"
            *ngIf="changePassForm.get('newPass').hasError(validation.type) && (changePassForm.get('newPass').dirty || changePassForm.get('newPass').touched  || isSubmited2)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
        <ion-button block color="success" (click)="changeUserPasswordProfile()">{{'profile.submit' | translate}}
        </ion-button>
      </form>
    </ion-list>
  </div> -->
</ion-content>