<div>
  <ion-item color="secondary" (click)="toggleLang()">
    <ion-label>{{title | translate}}</ion-label>
    <ion-icon slot="end" *ngIf="!isLangOpen" name="ios-arrow-forward"></ion-icon>
    <ion-icon slot="end" *ngIf="isLangOpen" name="ios-arrow-down"></ion-icon>
  </ion-item>
  <div [hidden]="!isLangOpen">
    <ion-menu-toggle auto-hide="false" *ngFor="let lang of languages">
      <ion-item color="secondary" lines="none" (click)="broadcastLang(lang.value)">
        <ion-label class="language-label">{{lang.name | translate}}</ion-label>
        <ion-icon *ngIf="lang.value==activLang" slot="end" name="checkmark"></ion-icon>
      </ion-item>
    </ion-menu-toggle>
  </div>
</div>