<ion-tabs color="dark">
  <ion-tab-bar slot="bottom">
    <ion-tab-button color="dark" tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label> {{ 'hf.home' | translate | uppercase}}</ion-label>
      <!-- <ion-badge color="light">6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button color="dark" tab="tab2">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>{{ 'hf.pay' | translate | uppercase}}</ion-label>
    </ion-tab-button>

    <ion-tab-button color="dark" tab="tab3">
      <ion-icon name="paper"></ion-icon>
      <ion-label>{{ 'hf.history' | translate | uppercase}}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>