// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {


    /** primary **/
    --ion-color-primary: #224489;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;

    /** secondary **/
    --ion-color-secondary: #058930;
    --ion-color-secondary-rgb: 5, 137, 48;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #058930;
    --ion-color-secondary-tint: #058930;

    /** tertiary **/
    --ion-color-tertiary: #4267b2;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;

    /** success **/
    --ion-color-success: #055e22;
    --ion-color-success-rgb: 5, 94, 34;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #055e22;
    --ion-color-success-tint: #28e070;

    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;

    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;

    /** dark **/
    --ion-color-dark: #033c15;
    --ion-color-dark-rgb: 3, 60, 21;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    /** medium **/
    //--ion-color-medium: #989aa2;
    --ion-color-medium: #ffffff;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    /** light **/
    --ion-color-light: #055e22;
    --ion-color-light-rgb: 5, 94, 34;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    /** profile **/
    --ion-color-profile: #ffffff;

      /* Default Font Family */
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Roboto";    
}

/*For Menu*/
.header-md:after {
    background-image: none;
}
ion-menu .list {
    padding: 0px;
}
ion-menu ion-item {
    border-top: 1px solid #056b26;
    text-transform: uppercase;
    font-weight: normal;
    --ripple-color: transparent;
}
ion-menu .item-inner {
    border: 0px;
    padding: 0px;
    border-style: none;
}
ion-menu .item-inner {
    --inner-border-width: 0;
}
ion-badge {
    color: #fff;
}
.menu-toolbar{
    padding:16px !important;
}
.menu-toolbar.ios:last-child {
    --border-width: 0px;
}
.menu-toolbar ion-item{
    border-top: 0px;
}
.menu-toolbar h2{
    margin:0px 0px 5px 0px !important;
}
.text08{
    text-decoration:none;
}
.user-avatar{
    border: 1px solid #fff;
}
.user-avatar.ios{
    width: 62px;
    height: auto;
}
.menu-toolbar ion-menu-toggle ion-icon{
    margin: 0px 0px -2px 0px;
}
.menu-toolbar ion-menu-toggle ion-text{
    text-decoration: underline;
}
ion-header ion-title.ios{
    text-align: left;
    padding-left: 55px;
}
/*Logo and Title*/
.homelogo{
    margin-top: 30px;
    margin-bottom:40px;
}
.homelogo.ios{
    position: static;
}
.homelogo img{
    width: 100px;
}
.heading-text{
    line-height:30px;
    margin:0px 0px 30px 0px;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
}

/*Banner*/
.profile-wrap {
    background: url(../assets/imgs/profile-bg.jpg) no-repeat center center;
    background-size: cover;
    margin: 0px 0px 0px;
    padding: 30px 0px;
}
.profile-wrap ion-avatar{
    margin: 0 auto;
    display: block;
    border: 1px solid #fff;
}
.profile-wrap ion-avatar.ios{
    width: 60px;
    height: auto;
}

/*Footer*/
ion-tab-button {
    background: #033c15;
    border-right: 1px solid #c2d6c9;
}
ion-tab-button:last-child {
    border: none;
}
ion-tab-button ion-icon,
ion-tab-button ion-label {
    color: #fff;
}
ion-tab-bar {
    background: #033c15;
}
ion-tab-bar ion-icon{
    margin: 5px 0px 5px 0px;
}
ion-tab-bar ion-label{
    margin: 0px 0px 5px 0px;
    font-size: 11px;
}

/*Language Popup*/
.alert-title.sc-ion-alert-md, .alert-title.sc-ion-alert-ios, .alert-button.sc-ion-alert-md, .alert-button.sc-ion-alert-ios{
    color:#055e22;
}
[aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md, 
[aria-checked=true].sc-ion-alert-ios .alert-radio-inner.sc-ion-alert-ios  {
    border-color: #055e22;
}
.alert-radio-inner.sc-ion-alert-md, .alert-radio-inner.alert-title.sc-ion-alert-ios {
    background-color:#055e22;
}
[aria-checked=true].sc-ion-alert-ios .alert-radio-label.sc-ion-alert-ios{
    color: var(--ion-color-step-850,#262626);
}

/*payment and payment history*/
.input-fields.payment-mode ion-item {
    --background: none;
    --border-style: none;
}
.payment-mode ion-label {
    color: #fff !important;
}
.payment-mode ion-checkbox {
    --border-width: 0px;
}
.payment-mode ion-checkbox {
    border: 1px solid #fff;
    --background: none;
}
.payment-mode .item-checkbox-checked ion-checkbox {
    --background: #055e22;
    --ion-color-base: #055e22 !important;
    border: none;
}
.payment-mode .cvv-card ion-input {
    background: #fff url(../assets/imgs/card_img.png) no-repeat;
    background-size: 50px;
    background-position: right 3% bottom 54%;
}
.input-fields ul.payment-history {
    width: 100%;
}
.input-fields .payment-history li {
    line-height: 22px;
    color: #fff;
    margin-bottom: 5px;
}
.input-fields .payment-history li:last-child{
    margin-bottom: 0px;
}



.item-native {
    border-radius: 4px;
}
.statusbar {
    --ion-color-primary: #224489;
}
.green-btn {
    background: #18d657;
}
.green-btn .button-native {
    background: #18d657 !important;
}
.input-fields {
    ion-input,
    ion-select {
        background: #fff;
        color: #011627;
        padding: 10px 10px !important;
        max-width: 100% !important;
        width: 100%;
        border: none;
        font-weight: normal;
        --border-radius: 4px;
    }
    input {
        padding: 0px !important;
    }
    ion-button {
        display: block;
        text-align: center;
        width: 100%;
        height: 40px;
        -webkit-margin-start: 0px;
        margin-inline-start: 0px;
        font-size: 17px;
        text-transform: uppercase;
    }
    ion-button button {
        padding: 10px;
        height: 40px !important;
    }
    .item-native,
    .item-inner {
        padding: 0px;
        border: none
    }
}
.input-fields ion-item.item-has-focus{
    --highlight-background: none;
}
ion-item.item-interactive.ion-invalid ion-input{
    --highlight-background: none;
}
.password-grid {
    ion-col {
        padding: 0px;
    }
    button {
        padding: 0px;
        background: none;
    }
}
.profile-thumb {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0px auto;
    ion-card {
        box-shadow: none;
        margin: 0px auto;
        border-radius: 50%;
    }
    button {
        position: absolute !important;
        bottom: 0px;
        right: 0px;
        height: 35px !important;
        width: 35px !important;
        border-radius: 50% !important;
        background: #0d7b31 !important;
        padding: 0px !important;
    }
}
.input-fields {
    ion-label,
    ion-checkbox {
        margin: 0px !important;
    }
    ion-item {
        --min-height: 0px;
        --padding-start: 0px;
        --inner-padding-end: 0px;
        --border-radius: 4px;
    }
}
.input-fields {
    li {
        list-style: none;
        font-weight: 300;
        font-size: 17px;
    }
}
.input-fields li:last-child{
    margin-bottom:0px;
}
.inner-scroll,
.input-fields,
ion-content {
    color: #fff;
}
.input-fields {
    background: none;
}
.input-fields p {
    color: #fff;
    font-weight: bold;
}
.input-fields h4 {
    font-weight: 300;
    font-size: 20px;    
    line-height: 25px;
    color: #fff;
    margin: 0px 0px 30px 0px;
}
.login-btn button,
.registr-btn button {
    border: 2px solid #29487d;
    background: #18d657 !important;
    border-radius: 4px !important;
    text-transform: uppercase !important;
}
.login-btn {
    margin-bottom: 10px !important;
}
.registr-btn button {
    background: #4267b2 !important;
}
.input-fields .item-native,
.input-fields .item-inner {
    padding: 0px !important;
}
.btn-forgot {
    width: 100%;
    background: none;
    color: #fff;
    font-size: 18px;
}
.tab-selected ion-icon,
.tab-selected ion-label {
    color: #18d657;
}
.profile-thumb ion-icon {
    --border-radius: 50%;
    --padding-start: 0;
    --padding-end: 0;
}
:host {
    --border-radius: 50% !important;
    --padding-start: 0em !important;
    --padding-end: 0em !important;
}
.profile-thumb ion-button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    --border-radius: 50%;
    width: 35px;
    height: 35px;
    --background: #0d7b31;
    --box-shadow: none;
    --padding-start: 0px;
    --padding-end: 0px;
}
.profile-cont ul {
    margin: 0px;
}
.profile-cont ion-card {
    margin: 0px;
}
.input-fields :host(.title-ios) {
    position: static;
}
ion-input::-webkit-input-placeholder,
ion-select::-webkit-input-placeholder {
    color: #011627;
}
ion-input::-moz-placeholder,
ion-select::-moz-placeholder {
    color: #011627;
}
ion-input:-ms-input-placeholder,
ion-select:-ms-input-placeholder {
    color: #011627;
}
ion-input:-moz-placeholder,
ion-select:-moz-placeholder {
    color: #011627;
}


.form_field_blk{
    margin:0 0 20px;
}
.form_field_blk ion-text{
    vertical-align: sub;
}
ion-button.activated, ion-button{
    --box-shadow: 0 0;
}
.input-fields ion-button.ios{
    height: 45px;
}
ion-item.ion-invalid{
    --highlight-background: none;
    --highlight-color-invalid: none;
}
button:focus, ion-button:focus, ion-input:focus, ion-title:focus, h1:focus, h2:focus, h3:focus,
h4:focus, h5:focus, h6:focus, span:focus, img:focus, ion-img:focus, ion-avatar:focus, a:focus, ion-list:focus, ul:focus,
li:focus,ion-menu-button:focus, ion-buttons:focus, ion-toolbar:focus, ion-header:focus, div:focus, ion-icon:focus,
ion-label:focus{
    outline:0px;
}
.loading-wrapper{
    background:none !important;
}
ion-button{
    --ripple-color: transparent;
}
ion-toast{
    --background: #fdfdfd;
    --color: #262626;
    --button-color: #262626;
}

:root[dir="rtl"] {
    ion-tab-button{
      border-right: 1px solid #c2d6c9;
    }
    ion-tab-button:first-child{
        border:none;
    }
    ion-tab-button ion-label{
        font-size: 14px;
    }
    .input-fields ion-input{
        font-size: 20px;
        line-height: 21px;
    }
    .input-fields ion-note{
        font-size: 16px;
    }
    .input-fields ion-button{
        font-size: 20px;
        height: 46px;
    }
    .input-fields ion-select{
        font-size: 20px;
        line-height: 15px;
    }
    .menu-toolbar ion-text, ion-menu-toggle ion-label, app-languages ion-label, ion-header ion-title{
        font-size: 20px;
    }
    .alert-title.sc-ion-alert-md, .alert-title.sc-ion-alert-ios, .alert-button.sc-ion-alert-md, .alert-button.sc-ion-alert-ios {
        font-size: 18px;
    }
    ion-header ion-title.ios {
        text-align: right;
        padding-right: 55px;
        padding-left: 0px;
    }
    .input-fields h4{
        font-size: 25px;
    }
    .heading-text{
        font-size: 35px;
        line-height: 38px;
    }
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;  
    box-shadow: 0 0 0px 1000px white inset !important;
}
