<!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{'lang.circleCash' | translate | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding" color="secondary">
  <ion-list class="input-fields ion-no-padding ion-no-margin">
    <ion-title class="homelogo innerpage-logo ion-text-center ion-no-padding">
      <img src="./assets/imgs/logo.png" alt="">
    </ion-title>
    <h1 class="heading-text ion-text-center">{{'hf.login' | translate | uppercase}}</h1>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="list-form">

      <div class="form_field_blk">
        <ion-item>
          <ion-input type="text" [placeholder]="'profile.uName' | translate" class="ion-no-padding" 
            [(ngModel)]="dataUser.email" minlength="2" formControlName="username" required></ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.username">
          <ion-note color="danger" class="error" translate
            *ngIf="loginForm.get('username').hasError(validation.type) && (loginForm.get('username').dirty || loginForm.get('username').touched || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>
      <div class="form_field_blk">  
        <ion-item>
          <ion-input type="password" [placeholder]="'profile.password' | translate" [(ngModel)]="dataUser.password"
            formControlName="password">
          </ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.password">
          <ion-note color="danger" class="error" translate
            *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <ion-button type="submit" color="success" tappable>
        {{'hf.login' | translate}}
      </ion-button>
    </form>
    <ion-button class="register_btn" color="success" [routerLink]="['/registration']">{{'profile.registration' | translate}}</ion-button>


    <button class="ion-text-center btn-forgot ion-no-padding ion-no-margin" ion-button [routerLink]="['/forgot']">
      {{'hf.forgotPass' | translate}}</button>

  </ion-list>
</ion-content>
<!-- <ion-footer>
  <ion-item>
    <ion-label>{{'lang.selectLang' | translate}}</ion-label>
    <ion-select [okText]="'lang.ok' | translate" [cancelText]="'lang.cancel' | translate"
      placeholder="{{'lang.selectLang' | translate}}" [(ngModel)]="language" (ionChange)="changeLanguage()">
      <ion-select-option value="en">{{'lang.english' | translate}}</ion-select-option>
      <ion-select-option value="fr">{{'lang.french' | translate}}</ion-select-option>
      <ion-select-option value="ar">{{'lang.arabic' | translate}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-footer> -->