ion-button{
    margin:0px 0px 15px 0px
}
.register_btn{
    margin-bottom:25px;
}
.btn-forgot{
    text-decoration: underline;
    color:#ffce00;
}
:host-context(html[dir="rtl"]) .btn-forgot{
    font-size: 20px;
}