<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" color="secondary" [side]="menuSide">
      <ion-header>
        <ion-toolbar class="menu-toolbar" color="secondary">
          <!-- <ion-avatar slot="start">
            <img [src]="apiService.currentUser.proPic">
          </ion-avatar>
          <ion-menu-toggle>
            <a [routerLink]="['/profile']" [routerDirection]="'forward'">
              Edit Profile
            </a>
          </ion-menu-toggle> -->
          <ion-avatar slot="start" class="user-avatar">
            <ion-img [src]="profilePic" (ionError)="myImage()"></ion-img>
          </ion-avatar>
          <ion-item class="" color="secondary">
            <ion-label class="ion-no-margin">
              <ion-text color="medium" class="ion-no-margin">
                <h2>{{apiService?.currentUser?.name}}</h2>
              </ion-text>
              <ion-menu-toggle class="mto" auto-hide="false">
                <a class="text08" tappable [routerLink]="['/profile']" [routerDirection]="'forward'">
                  <ion-text color="warning">
                    <ion-icon name="contact"></ion-icon>
                    {{ 'hf.editProfile' | translate }}
                  </ion-text>
                </a>
              </ion-menu-toggle>
            </ion-label>
          </ion-item>
        </ion-toolbar>
      </ion-header>
      <ion-content color="secondary">
        <ion-list class="ion-no-padding ion-no-margin">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item color="secondary" [routerDirection]="'root'" [routerLink]="[p.url]" detail="false">
              <!--<ion-icon slot="start" [name]="p.icon"></ion-icon>-->
              <ion-label>
                {{p.title | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <!--  -->
        <app-languages [title]="'lang.changeLang'" [activLang]="apiService.language" [languages]="languages"
          (change)="changeLanguage($event)">
        </app-languages>
        <!--  -->
        <ion-menu-toggle auto-hide="false">
          <ion-item color="secondary" (click)="logout()">
            <ion-label>
              {{ 'hf.logout' | translate }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>