<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  class="ion-no-padding">{{'hf.changePass' | translate | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="secondary">

  <ion-list class="input-fields ion-no-margin ion-no-padding">
    <ion-title class="homelogo innerpage-logo ion-text-center ion-no-padding">
      <img src="./assets/imgs/logo.png" alt="">
    </ion-title>
    <h1 class="heading-text ion-text-center">{{'lang.circleCash' | translate | uppercase}}</h1>
    <form [formGroup]="changePassForm">

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="oldPass" [placeholder]="'profile.oldPass' | translate"
            [(ngModel)]="userPasswordData.oldPassword" type="password"></ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.oldPass">
          <ion-note translate color="danger" class="error"
            *ngIf="changePassForm.get('oldPass').hasError(validation.type) && (changePassForm.get('oldPass').dirty || changePassForm.get('oldPass').touched  || isSubmited2)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="newPass" [placeholder]="'profile.newPass' | translate" type="password"
            [(ngModel)]="userPasswordData.newPassword"></ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.newPass">
          <ion-note translate color="danger" class="error"
            *ngIf="changePassForm.get('newPass').hasError(validation.type) && (changePassForm.get('newPass').dirty || changePassForm.get('newPass').touched  || isSubmited2)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <ion-button class="ion-no-margin" block color="success" (click)="changeUserPasswordProfile()">{{'profile.submit' | translate}}
      </ion-button>
    </form>
  </ion-list>

  <!-- <ion-list class="input-fields ion-no-margin ion-no-padding">
    <ion-title class="homelogo innerpage-logo ion-text-center ion-no-padding">
      <img src="./assets/imgs/logo.png" alt="">
    </ion-title>
    <h1 class="heading-text ion-text-center">{{'lang.circleCash' | translate | uppercase}}</h1>

    <div class="form_field_blk">
      <ion-item>
        <ion-input [placeholder]="'profile.password' | translate"></ion-input>
      </ion-item>
    </div>
    <div class="form_field_blk">
      <ion-item>
        <ion-input [placeholder]="'profile.cPassword' | translate"></ion-input>
      </ion-item>
    </div>
    <ion-button  class="ion-no-margin" block color="success">{{'profile.submit' | translate}}</ion-button>
  </ion-list> -->
</ion-content>