<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  class="ion-no-padding">{{'hf.pay' | translate | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-img src="./assets/imgs/Pay-Home.png"></ion-img>


<ion-content class="ion-padding" color="secondary">
  <ion-list class="input-fields ion-no-margin ion-no-padding">
    <h1 class="ion-text-center heading-text">{{'hf.pay' | translate}}</h1>
    <h4 class="ion-text-center">{{'payment.payText' | translate}}</h4>
    <ion-button class="ion-no-margin" block color="success" (click)="scanAndpay()">{{'hf.pay' | translate}}</ion-button>
    <h2>{{qrCode}}</h2>
  </ion-list>
  <!-- <div *ngIf="scannedData">
    <p>{{'payment.sCodeText' | translate}} : <b>{{scannedData['text']}}</b></p>
    <p>{{'payment.sCodeFormat' | translate}} : <b>{{scannedData['format']}}</b></p>
  </div> -->
</ion-content>