<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding"> {{'profile.registration' | translate | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" color="secondary">
  <ion-list class="input-fields ion-no-padding ion-no-margin">
    <form [formGroup]="registrationForm" (ngSubmit)="addUser()">
      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="name" [placeholder]="'profile.name' | translate" [(ngModel)]="dataUser.name"></ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.name">
          <ion-note translate color="danger" class="error"
            *ngIf="registrationForm.get('name').hasError(validation.type) && (registrationForm.get('name').dirty || registrationForm.get('name').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="uName" [placeholder]="'profile.uName' | translate" [(ngModel)]="dataUser.userName">
          </ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.uName">
          <ion-note translate color="danger" class="error"
            *ngIf="registrationForm.get('uName').hasError(validation.type) && (registrationForm.get('uName').dirty || registrationForm.get('uName').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="email" [placeholder]="'profile.email' | translate" [(ngModel)]="dataUser.email">
          </ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.email">
          <ion-note translate color="danger" class="error"
            *ngIf="registrationForm.get('email').hasError(validation.type) && (registrationForm.get('email').dirty || registrationForm.get('email').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>
      
      <div class="form_field_blk">
        <ion-item>
          <ion-input formControlName="mobile" [placeholder]="'profile.phoneNo' | translate" [(ngModel)]="dataUser.mobile">
          </ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.mobile">
          <ion-note translate color="danger" class="error"
            *ngIf="registrationForm.get('mobile').hasError(validation.type) && (registrationForm.get('mobile').dirty || registrationForm.get('mobile').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input type="password" formControlName="password" [placeholder]="'profile.password' | translate"
            [(ngModel)]="dataUser.password"></ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.password">
          <ion-note translate color="danger" class="error"
            *ngIf="registrationForm.get('password').hasError(validation.type) && (registrationForm.get('password').dirty || registrationForm.get('password').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input type="password" formControlName="cpassword" [placeholder]="'profile.cPassword' | translate"
            [(ngModel)]="dataUser.cpassword"> </ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.cpassword">
          <ion-note translate color="danger" class="error"
            *ngIf="registrationForm.get('cpassword').hasError(validation.type) && (registrationForm.get('cpassword').dirty || registrationForm.get('cpassword').touched || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
        <ion-text>
          <ion-note color="danger" class="error"
            *ngIf="!registrationForm.get('cpassword').errors && registrationForm.hasError('passwordNotMatch') && (registrationForm.get('cpassword').dirty || registrationForm.get('cpassword').touched)">
            {{'vMsg.passNotMatch' | translate }}
          </ion-note>
        </ion-text>
      </div>
      
      <ion-button class="ion-no-margin" type="submit" block color="success">{{'profile.submit' | translate}}
      </ion-button>
    </form>
  </ion-list>
</ion-content>