
ion-header ion-title.ios{
    padding-left: 85px;
}
.input-fields{
    padding: 30px 16px 30px 16px;
}
:host-context(html[dir="rtl"]) ion-header ion-title.ios {
    padding-right: 85px;
    padding-left: 0px;
}