<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">{{'hf.payHistory' | translate | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="secondary">
  <ion-list class="input-fields ion-no-padding ion-no-margin" *ngIf="paymentHistory.length;else elseBlock">
    
      <ion-item color="light" *ngFor="let payment of paymentHistory">
        <ul class="payment-history ion-padding ion-no-margin">
          <li>{{'payment.paidTo' | translate}} : {{payment.merchantName | titlecase}}</li>
          <li>{{'payment.amount' | translate}} : $ {{payment.amount}}</li>
          <li>{{'payment.transactionId' | translate}} : {{payment.transaction_id}}</li>
          <li class="success" *ngIf="payment.payment_status==1">{{'payment.transactionStatus' | translate}} :
          <span>{{'Success'}}</span> </li>
          <li class="pending" *ngIf="payment.payment_status==2">{{'payment.transactionStatus' | translate}} :
            <span>{{'Pending'}}</span></li>
          <li class="failed" *ngIf="payment.payment_status==3">{{'payment.transactionStatus' | translate}} : <span>{{'Failed'}}</span>
          </li>
          <li>{{payment.payment_date_time}}</li>
        </ul>
      </ion-item>
    
  </ion-list>
  <ng-template #elseBlock>
    <ion-text>{{'payment.noRecord' | translate}}</ion-text>
  </ng-template>
</ion-content>