ion-item{--inner-border-width: 0 0px 0px 0; }
ion-list ion-item:last-child{
    margin-bottom:0px;
}
.payment-history .success span{
    color: #0cff5b;
}
.payment-history .failed span{
    color: #f03e3e;
}
.payment-history .pending span{
    color: #fce914;
}
ion-item{
    margin-bottom:20px;
}
:host-context(html[dir="rtl"]) ion-text{
    font-size: 20px;
}