// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.sc-ion-loading-md-h,.sc-ion-loading-md-s{
    .loading-wrapper{
      border-radius: 12px;
      width: 80px;
      height: 80px;
      box-shadow: none;
      background: transparent;
      ion-spinner {
        // color: var(--ion-color-dark);
        color: #ffffff;
        width: 50px;
        height: 50px;
        }
      
  }
}
.spinner-bubbles.sc-ion-loading-ios, .spinner-circles.sc-ion-loading-ios, .spinner-crescent.sc-ion-loading-ios, .spinner-dots.sc-ion-loading-ios, .spinner-lines.sc-ion-loading-ios, .spinner-lines-small.sc-ion-loading-ios {
//   color: var(--ion-color-dark);
    color: #ffffff;
}