<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">{{'others.merchant' | translate | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="secondary">
  <ion-list class="input-fields ion-no-margin ion-no-padding">
    <ion-title class="homelogo innerpage-logo ion-text-center ion-no-padding"><img src="./assets/imgs/logo.png" alt="">
    </ion-title>
    <h4 class="mer_name ion-text-center"><span>{{'others.merchantName' | translate}}</span>
      : BOOTH 759</h4>
    <h4 class="ion-text-center"><span>{{'others.merchantID' | translate}}</span>
      : {{merchantID}}</h4>

    <form [formGroup]="payMerForm" (ngSubmit)="payMerchant()">

      <div class="form_field_blk">
        <ion-item>
          <ion-input type="number" formControlName="payAmount" [(ngModel)]="payAmount"
            [placeholder]="'payment.amount' | translate">
          </ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.payAmount">
          <ion-note color="danger" class="error" translate
            *ngIf="payMerForm.get('payAmount').hasError(validation.type) && (payMerForm.get('payAmount').dirty || payMerForm.get('payAmount').touched || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>
      <ion-button class="ion-no-margin" type="submit" block color="success">{{'hf.pay' | translate}}</ion-button>
    </form>
  </ion-list>
</ion-content>