ion-header ion-title.ios{
    padding-left: 85px;
}
// .homelogo img {
//     width: 110px;
// }
h4 span{
    font-size: 25px;
    font-weight: 400;
}
.mer_name{
    margin-bottom: 5px;
}
:host-context(html[dir="rtl"]) ion-header ion-title.ios {
    padding-right: 85px;
    padding-left: 0px;
}
