<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-back-button defaultHref="/tabs/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">{{'pay.payment' | translate | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="secondary">
  <ion-list class="input-fields payment-mode ion-no-padding ion-no-margin">
    <ion-title class="homelogo innerpage-logo ion-text-center ion-no-padding"><img src="./assets/imgs/logo.png" alt="">
    </ion-title>
    <h1 class="heading-text ion-text-center">{{'pay.paymentMode' | translate}}</h1>
    <h4 class="mer_name ion-text-center"><span>{{'others.merchantID' | translate}}</span> : {{merchantID}}</h4>
    <h4 class="ion-text-center"><span>{{'payment.amount' | translate}}</span> : $ {{payAmount}}</h4>
    <form [formGroup]="payForm">
      <!-- <ion-item>
      <ion-label>{{'pay.payPal' | translate}}</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>{{'pay.authorization' | translate}}</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item> -->
      <div class="form_field_blk"> 
        <ion-item>
          <ion-input type="tel" maxLength="16" formControlName="cardno" [placeholder]="'pay.cardNo' | translate">
          </ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.cardno">
          <ion-note translate color="danger" class="error"
            *ngIf="payForm.get('cardno').hasError(validation.type) && (payForm.get('cardno').dirty || payForm.get('cardno').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
        <ion-item>
          <ion-input type="tel" maxLength="5" formControlName="expiry" [placeholder]="'pay.validUpto' | translate">
          </ion-input>
        </ion-item>
        <ion-text *ngFor="let validation of validation_messages.expiry">
          <ion-note translate color="danger" class="error"
            *ngIf="payForm.get('expiry').hasError(validation.type) && (payForm.get('expiry').dirty || payForm.get('expiry').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>

      <div class="form_field_blk">
          <ion-item class="cvv-card">
            <ion-input type="tel" maxLength="3" formControlName="cvv" [placeholder]="'pay.CVV' | translate"></ion-input>
          </ion-item>
        <ion-text *ngFor="let validation of validation_messages.cvv">
          <ion-note translate color="danger" class="error"
            *ngIf="payForm.get('cvv').hasError(validation.type) && (payForm.get('cvv').dirty || payForm.get('cvv').touched  || isSubmited)">
            {{ validation.message }}
          </ion-note>
        </ion-text>
      </div>  
      <ion-button  class="ion-no-margin" (click)="dummyPayment()" block color="success">{{'hf.pay' | translate}}</ion-button>
      <!-- <ion-item>
      <ion-label> {{'pay.debitCard' | translate}}</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label> {{'pay.netBanking' | translate}}</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item> -->
    </form>
  </ion-list>
</ion-content>