ion-header ion-title.ios{
    padding-left: 85px;
}
// .homelogo img {
//     width: 110px;
// } 
h3{
    font-weight: 300;
    font-size: 30px;
    line-height: 28px;
    margin: 0px 0px 22px 0px;
}
h4 span{
    font-size: 25px;
    font-weight: 400;
}
.cvv-card-upr{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
}
.mer_name{
    margin-bottom: 5px;
}
:host-context(html[dir="rtl"]) .payment-mode .cvv-card ion-input{
    background-position: left 3% bottom 54%;
}
:host-context(html[dir="rtl"]) ion-header ion-title.ios {
    padding-right: 85px;
    padding-left: 0px;
}